body {
  overflow: hidden;
  font-family: 'Creepster', cursive;
  color: rgb(152, 5, 152);
  font-size: 20px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  background-color: black;
  background-image: url("../assets/Gksh0R.jpg");
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div {
  margin-top: -100;
}

canvas {
  margin-top: -100;
  border: 1px solid black;
}

.show {
  display: block;
}

.welcome{
  position: relative;
}

#game {
  margin-top: -20;
}

#start {
      background-color: purple;
    position: absolute;
    left: 290px;
    bottom: 500px;
    width: 300px;
    height: 60px;
    border: 1px solid rgb(152, 5, 152);
    border-radius: 5%;
    font-family: 'Creepster', cursive;
    color: rgba(94, 255, 152, 1);
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

img{
  width: 900px;
  height: 900px;
}

#start:hover {
    background-color: rgba(94, 255, 152, 1);
    position: absolute;
    left: 290px;
    bottom: 500px;
    width: 300px;
    height: 60px;
    border: 1px solid rgba(94, 255, 152, 1);
    border-radius: 5%;
    font-family: 'Creepster', cursive;
    color:  rgb(152, 5, 152);
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



.hidden {
  display:none
}